#root {

  max-width: 1550px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar a {
  transition: color 0.3s ease;
}

.navbar button {
  transition: transform 0.3s ease;
}

.menu-transition {
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

/* For larger screens */
 @media (min-width: 768px) { 
  .nav-link {
     font-size: 1.25rem;
      margin-right: 1rem; 
    } 
  } 
  
  /* For smaller screens */ 
  @media (max-width: 767px) { 
    .nav-link { 
      font-size: 1rem;
       margin-bottom: 1rem; 
      }

      .hamburger-menu{
        width:100%;
      }
    }